@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; */

Link {
    color: black;
}

.title_About {
    height: 50rem;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texttitle_About {
    height: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    backdrop-filter: blur(2px);
    background-color: rgba(106, 106, 106, 0.264);
}


.h1_title {
    font-size: 10vw;
    color: rgb(255, 255, 255);
    text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    letter-spacing: 10%;
    position: absolute;
}

.Img_about {
    height: max-content;
    width: auto;
    object-fit: cover;
}

.content_about {
    height: max-content;
    max-width: 1536px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}

.detalis_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalis_content h3 {
    font-size: 5vh;
    margin: 1% 0;

    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
}

.detalis_content p {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1.2px;
    height: 100%;
    width: 68%;
    text-align: center;
    margin-bottom: 5%;

}

.underLine {
    width: 40%;
    border-bottom: solid #c5c5c5af 0.5px;
    border-radius: 2px;
    margin-bottom: 5%;

}

.container_team {
    padding: 1.5rem;
    margin-top: 8%;
    margin-bottom: 4%;
    height: max-content;
    width: 100%;
    /* border: 1px solid rgb(4, 233, 80); */
    position: relative;
}

.title_Team {
    height: 20vh;
    width: 100%;
    /* background-color: red; */

    display: flex;
    justify-content: center;



}

.detalis_team h3 {
    margin-top: 5vh;
    font-size: 5vh;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.container_CardTeam {
    min-height: 60vh;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    /* background-color: wheat; */
}

.cardteam {
    max-height: 27rem;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-radius: 7px;
    margin: 1.5rem;
    /*  background-color: white; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardteam img {
    height: 300px;
    width: 300px;
}

.cardteam p {
    font-size: 15px;
}

.team_textcard {
    margin-top: 5%;
    margin-left: 1rem;
}

.team_textcard p {
    margin-top: 1%;
    font-size: small;
}

.icon_cardTeam {
    height: 30px;
    width: 100%;
    margin-top: 8%;

    display: inline-flex;
    justify-content: start;
    
}

#iconCardteam {
    font-size: 22px;
    margin-right: 10px;
    color: red;
}

.NameDev {
    color: black;
    letter-spacing: 1px;
    font-size: larger;

}

@media screen and (max-width: 375px) {
    .detalis_content h3 {
        font-size: 11vw;
        margin: 5% 0;

    }

    .detalis_content p {
        font-size: 12px;
    }

    .team_textcard {
        margin-top: 5%;
        margin-left: 0;
    }
    
    .cardteam  {
        display: flex;
        align-items: center;
        justify-self: center;
        min-width: 90%;
    }

}