html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 80%;
    width: 80%;
}

.esri-view .esri-search {
    width: 250px;
}
.esri-view .esri-basemap-toggle,
.esri-view .esri-basemap-toggle__container,
.esri-view .esri-basemap-toggle__image {
    width: 32px;
    height: 32px;
}