#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
}

.esri-view .esri-search {
    width: 250px;
}
.esri-view .esri-basemap-toggle,
.esri-view .esri-basemap-toggle__container,
.esri-view .esri-basemap-toggle__image {
    width: 32px;
    height: 32px;
}

/* text css */



/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#Mappos {
    position: relative;
}


.containershowcard {
    height: auto;
    max-width: 1536px;
    padding: 0 1.5rem;
    margin-bottom: calc(5%);
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.boxPath {
    width: 100%;
    height: 1.5rem;
    margin-top: 2%;
    /* border: 1px rgb(230, 0, 0) solid; */
}



.nameplace {
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    font-family: 'Kanit', sans-serif;
}



/* style btn level  */

.btn_Hardlevel {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 600;

    color: #D9781F;
    border: 2px #D9781F solid;
    border-radius: 17px;
    background-color: white;

}

.btn_Easylevel {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 600;

    color: #46D68C;
    border: 2px #46D68C solid;
    border-radius: 17px;
    background-color: white;

}

.btn_normallevel {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 600;

    color: #3283FD;
    border: 2px #3283FD solid;
    border-radius: 17px;

    background-color: white;

}


.pinicon {
    font-size: 25px;
    font-weight: 700;
    color: red;
    margin-right: 0.7rem;

}

.average_walk, .average_time {
    height: 2rem;
    width: 38%;
    font-size: 16px;
    display: inline-flex;
    align-content: center;
}


#average_walkicon, #average_timewalk {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}


.details p {
    font-size: 16px;
    font-weight: 200;
    margin: 1% 0;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
}

.btnbox {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10%;

}





