* {
    font-family: 'Poppins', sans-serif;
}


.Rowgrid {
    /* border: 1px solid; */

}





.t1 {
    display: flex;
    float: left;
}

.t2 {
    display: flex;
    float: left;
}

.t3 {
    margin-left: 5%;
}

.f2 {
    margin-left: 5%;
    margin-right: 5%;
}

.Facebook {
    display: flex;
    float: left;
    margin: 2% 2% 2% 2%;
    font-size: 200%;
    color: #3b5998 ;

}

.Twitter {
    display: flex;
    float: left;
    margin: 2% 2% 2% 2%;
    font-size: 200%;
    color: #1DA1F2 ;
}

.Instagram {
    display: flex;
    float: left;
    margin: 2% 2% 2% 2%;
    font-size: 200%;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 9px;
    color: white;
    
  
}