h1, .textbox h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

.poniter {
    cursor: pointer;
}

p {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("/public//img/5ec2884b2e35c375b7b912a2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 60em;
    /* border: solid; */
}

.header h1 {
    height: 45%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;

    color: white;
    font-size: 12rem;
    font-weight: bold;
}

.header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: lighter;

    color: white;
    /* border: solid; */

}

.header .ph {
    height: 12vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    margin-left: 10%;
    margin-right: 10%;

}

.content1 {
    height: 20rem;
    width: 80%;
   
    margin-left: 10%;
    margin-bottom: 5%;

    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}


.rowheader {
    height: 15vh;
    width: 20vw;
    margin-top: 10vh;
    margin-left: 5%;
}




.btn_titlse {
    height: 10vh;
    width: auto;
    margin-top: 3rem;
    text-align: center;
}


.bt1 {

    height: 4vh;
    width: 120px;
    margin-bottom: 12%;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.bt2 {
    
    height: 2rem;
    width: 6rem;
    margin-right: 5%;

}


.bt2 button {
    height: 3vh;
    width: 90px;

    
    border: 1px solid #FDFDFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-color: white;
    letter-spacing: 1px;

}

.bt2 button:hover {
    color: #ffffff;
    background-color: rgb(23, 23, 23);
    transition: 0.3s;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*APIRAK DAV*/

.content2 {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;

    

}

.cardDetlis {
    height: 65vh;
    width: 27rem;
    margin: 2rem 2.5rem;


    background-color: white;
    border-radius: 20px;

    overflow: hidden;
    display: inline-block;
   


}


.container_img {
    height: 60%;
    width: 100%;
    background-color: #86786c;
    display: none;
}

.content3 {
    height: 50rem;
    width: 100%;
    display: inline-flex;
    align-items: center;

}

.sizeimg {
    height: 20rem;
    width: 100%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.imgincard1 {
    background-image: url(/public/img/mountaincard.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.imgincard2 {
    background-image: url(/public/img/85964ae7-3361-431a-a029-486f6216699e.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.imgincard3 {
    background-image: url(/public/img/mountaincard2.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}

.zoom {
    transition: transform .5s;
    /* Animation */

}

.zoom:hover {
    transform: scale(110%);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.textponsition {
    font-size: 35px;
    margin: 2% 5%;

}

.Loction_box {
    height: 2rem;
    width: 15rem;

    margin-left: 20px;
    display: flex;
    

}

.pin_icon {
    font-size: 25px;
    font-weight: 700;
    color: red;
    margin-right: 0.5rem;

}

.iconStar {
    height: 2rem;
    width: 15rem;
    margin: 1% 5%;
    /* border: red 1px solid; */

}

.star_detilse {
    margin: 4px;
    font-size: 1.4rem;
    color: #FFD600;
}

.detils_place {
    height: 5rem;
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
}


.btn_Hard {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 900;

    color: #D9781F;
    border: 2px #D9781F solid;
    border-radius: 17px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;

}

.btn_Easy {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 900;

    color: #46D68C;
    border: 2px #46D68C solid;
    border-radius: 17px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;

}

.btn_normal {
    height: 30px;
    width: 6rem;
    letter-spacing: 1.5px;
    font-size: 1rem;
    font-weight: 900;

    color: #3283FD;
    border: 2px #3283FD solid;
    border-radius: 17px;
    margin-left: 5%;
    margin-top: 5%;
    background-color: white;

}


.textbox {
    height: 20rem;
    width: 30%;


    margin-top: 2%;
    margin-left: 17%;

}

.textbox p {
    color: black;
}

.btn_moredetiles {
    height: 4vh;
    width: 120px;

    font-weight: 400;
    letter-spacing: 1px;
    margin: 2rem 0;
    border: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.btn_moredetiles:hover {
    color: #ffffff;
    background-color: rgb(23, 23, 23);
    transition: 0.4s;
    border: none;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}


.container_icon {
    height: 30rem;
    width: 70%;
    margin: 15% 5%;


    display: flex;
    align-items: center;
    justify-content: center;

}


.box {
    height: 25rem;
    width: 70%;
}

.iconbtn {
    height: 9.5rem;
    width: 10rem;
    margin: 1.5rem;
    background-color: white;

    border: 0px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.icon {
    color: #46D68C;
    font-size: 3rem;
}

.font_icon {
    font-weight: 600;
    margin-top: 2px;
    letter-spacing: 1.5px;
}

.iconbtn:hover {
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.content4 {
    height: 60rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.vdo_con4 {
    height: 30rem;
    width: 70%;
    overflow: hidden;
    border-radius: 14px;
    margin-left: 17%;

}

.textcon4 {
    height: 20rem;
    width: 60rem;
    margin-left: 5%;
    margin-right: 5%;
}

.group_Link {
    height: 5rem;
    width: 16rem;
    display: inline-flex;
    align-items: center;

   
}


.shapLink {
    height: 3rem;
    width: 3rem;

    border: none;
    border-radius: 30px;
    font-size: 20px;

    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

.icon_footer:hover {
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.icon_footer {
    color: #000000;
    background-color: rgb(255, 255, 255);
}



.footer {
    margin-top: 10rem;
    height: 25rem;
    width: 100%;
    padding-bottom: 2rem;
    background-color: #F1F1F1;
   
    display: inline-flex;

}

.leftMenu {
    height: 15rem;
    width: 20%;
    margin: 4% 5%;
    
}

.About_list, .Socials_list , .Community_list{
    height: 20rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 5%;
    
}

.About_list {
    margin-left: 30%;
}
.About_list h2 , .Community_list h2 , .Socials_list h2 {
    margin-bottom: 1rem;
}

.Link_socials, .Link_comm, .Link_about {
    margin-top: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}


@media screen and (max-width: 1500px) {
    .header h1{
        font-size: 6rem;
        
    }

    .ph {
        font-size: 14px;
    }

    
 }

@media screen and (max-width: 686px) {
    .header h1{
        font-size: 3rem;
        width: 100%;
    }

    .ph {
        font-size: 14px;
    }

    
 }