/* Login Page */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins', sans-serif;
}


.backgroud-login-page {
    /* Login Page */
    position: none;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;

    width: 60vw;
    height: 80vh;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

}

.img-login {
    height: 80vh;
    width: 50%;
    overflow: hidden;
}

.pic_form_Login {
    height: 80vh;
    width: 100%;
    display: flex;
}

.pic_sigup {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.input-group-login {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form-login {
    height: 80vh;
    width: 50%;

}

.text-group {
    max-height: 10vh;
    max-width: 20vw;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.text-group p {
    font-size: 0.8vw;
}

.form-login h1 {
    font-size: 2rem;
    font-weight: 700;
}

.input-login {

    /* Auto layout */
    height: 3rem;
    width: 20vw;
    display: flex;
    align-items: center;
    padding: 1vh 1vh;
    margin-bottom: 2vh;
    font-size: 16px;
    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E0E0E0;


}

.inputpass {
    -webkit-text-security: disc;
    text-rendering: disc;
}

/* btn-group */

.btn-group {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: #060606 solid 1px; */
}

/* hover btn  */
.btn_login:hover {
    border: 1px solid #060606;
    transition: 0.3s ease-in;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(255, 255, 255, 0.936);
}

/* btn_login */

.btn_login {
    height: 2.5rem;
    width: 20vw;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 20px;
    background: black;
}

.btn_signup_LoginPages {
    height: 2.5rem;
    width: 20vw;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #060606;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    background: rgb(0, 0, 0);
}

/* style btn signup in Login Page */
.btn_signup_LoginPages:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.link_Signup {
    height: 2.5rem;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.link_Signup p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
    width: 100%;
    font-size: 0.8vw;
}

.link_Signup a {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    .backgroud-login-page {
        
    }
}

@media screen and (max-width: 1200px) {

    .img-login {
        display: none;
    }

    .form-login {
        height: 100%;
        width: 57%;
    }

    .text-group {
        max-height: 100%;
        max-width: 100%;
    }

    .form-login h1 {
        font-size: 3rem;
    }

    .text-group p {
        font-size: 1.5vw;
    }

    .input-group-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30%;
        width: 100%;

    }

    .input-login {
        height: 3rem;
        width: 35vw;
    }

    .btn_login, .btn_signup_LoginPages {
        width: 35vw;
    }

}

@media screen and (max-width: 1024px) {
    .backgroud-login-page {
        text-align: center;
        width: inherit;
    }


}

@media screen and (max-width: 768px) {
    .link_Signup {
        width: 65vw;
    }

    .form-login {
        height: 100%;
        width: 100%;
        /* text-align: center; */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }

}


@media screen and (max-width: 425px) {
    .input-login {
        height: 3rem;
        width: 70%;
    }

    .btn_login, .btn_signup_LoginPages {
        width: 70%;
    }
    
}



@media screen and (max-width: 375px) {
    .link_Signup {
        width: 100%;
    }

    .backgroud-login-page {
        min-width: 320px;
    }




}