* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Trekking {

    padding: 0 1.5rem;
}
.boxPart{
    margin-bottom: 1%;
    border: 1px solid;
}

.container_trekking {

    height: 100vh;
    width: 100%;
    background-color: red;
}


.filter {
    
}