@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; */

.Trekking {
    /* max-width: 1536px; */
    padding: 0 1.5rem;
    margin-bottom: calc(20% + 50px);
}

.boxPart {
    margin-bottom: 1%;
    /* border: 1px solid; */
}

.container_trekking {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.btnfilter {
    height: 2.5rem;
    width: 3rem;
    border-radius: 7px;
    background-color: white;
    display: none;
    text-align: center;

}

.btnfilter:hover {
    background-color: rgba(255, 255, 248, 0.375);
}

.iconfiter {
    font-size: 1.5rem;
    color: #1c1c1c;
}

.filter_container {
    height: 100%;
    min-width: 22rem;
    padding-top: 5rem;
    padding-left: 3rem;
    background-color: rgba(255, 255, 255, 0.18);

    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.checkbox_location,
.checkbox_level,
.checkbox_Distance {
    margin: 2% 0;
    display: flex;
    align-items: center;
}

.style_textfilter {
    margin-bottom: 2%;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.style_labelfilter {
    font-size: 16px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}

.container_item {
    height: max-content;
    width: 100%;
    padding: 1.5rem;
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid;   */
}

.titleBox {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 1%;
}


.count_item {
    margin-left: 5%;
}

.dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* stype filter box */
.container_Location,
.container_Distance,
.container_level {
    margin-bottom: 10%;
}

.container_showitem {

    height: 100%;
    width: 100%;
    /* margin-top: 3%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    
    /* background-color: rgb(9, 226, 67); */
    justify-content: flex-start;

}

.inputstyle {
    background-color: red;
}

.Location {
    cursor: pointer;
}

.checkboxstyle {
    height: 20px;
    width: auto;
    margin-right: 3%;
}

.Treak_card {
    height: 25rem;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    color: rgb(63, 64, 68);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
    margin: 1rem;
}

.img_item {
    height: 100%;
    width: 100%;
    object-fit: none;
    
}


.textitem {

    height: 37%;
    width: 70%;
    padding: 1rem;
    position: absolute;
    display: flex;
    bottom: 3%;
    flex-direction: column;
    align-items: start;
    z-index: 11;
    

}

.textitem h3 {
    font-size: 1.9rem;
    color: white;
    margin-bottom: 2%;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    
}

.walk, .time {

    font-size: 16px;
    display: inline-flex;
    align-items: center;


}

.walk p, .time p {
    width: 12rem;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-family: 'Kanit', sans-serif;
}

#walkicon, #Clock {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}






@media (min-width: 1536px) {
    .Trekking {
        max-width: 1536px;
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%;

    }

}

@media screen and (max-width: 1200px) { 
    .filter_container {
        display: none;
    }
}

@media screen and (max-width: 905px) {

    .btnfilter {
        display: block;
        position: absolute;
        
        right: 10%;
    }

    .count_item {
        position: absolute;
        
        left: 10%;
    }

    .dropdown {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    
}


@media screen and (max-width: 320px) {
    .Treak_card {

    }
}