@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}



.container-main {
    display: flex;
    justify-content: center;



}

.search {
    padding: 10px;
    width: 233px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-left: -40px;
    margin-bottom: 20px;

}

.icon-search {
    position: absolute;
    top: 20%;
    right: 30%;

}





.title-cardheader {
    display: none;
}

.favorite-trekking {
    display: none;
}

.search .placeholder {
    margin-left: 5px;
}

.labelcheck {
    margin-left: 10px;
}

.content-left .provice,
.distant,
.level {
    margin-top: 20px;
}

.CardAll {
    display: block;
    justify-content: center;
    align-items: center;
}

.cardheader {
    width: 253px;
    height: 309px;
    margin-left: 10px;
}

.card1 {
    position: relative;
    margin-left: 10px;
}

.detail1 {
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    left: 10px;
}

.vector1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

.card2 {
    position: relative;
}

.detail2 {
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    left: 10px;
}

.vector2 {
    position: absolute;
    top: 30%;
    left: 30%;
}

.card3 {
    position: relative;
}

.detail3 {
    color: white;
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    left: 10px;
}

.vector3 {
    position: absolute;
    top: 30%;
    left: 20%;
}

@media screen and (min-width:560px) {
    .cardheader {

        margin-top: 2rem;

        height: 50vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        border-radius: 12px;

        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/public/picture/Main-img/cardtitle.jpg);




    }

    .h1_cardheader {
        color: #F5F5F5;
        font-size: 5rem;

        height: 30vh;
        width: 100%;

        display: flex;
        align-items: end;
        justify-content: center;
        /* border: red 1px solid; */
    }

    .p_cardheader {
        height: 10vh;
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: 12px;
        font-weight: 300;
        color: #F5F5F5;
        margin-top: -20px;
        margin-right: auto;
        margin-left: auto;

        /* border: red 1px solid; */
    }

    .backgroud_Showcard {
        height: 70vh;
        width: 100%;


        display: flex;
        justify-content: center;


    }


    .showcards {
        height: 40vh;
        width: 100%;
        margin: 5vh 0;

        display: flex;
        justify-content: center;
    }

    .cdr_detile {
        height: 30vh;
        width: 11vw;
        margin: 2rem 2rem;

        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 12px;


    }



    .card1 {
        background-image: url(/public/picture/Main-img/card1.png);
    }

    .card2 {
        background-image: url(/public/picture/Main-img/card1.png);
    }

    .card3 {
        background-image: url(/public/picture/Main-img/card1.png);
    }

    .card4 {
        background-image: url(/public/picture/Main-img/card1.png);
    }

    .img {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .imgV4 {
        height: 130px;
        width: 50%;
        background-repeat: no-repeat;
        /*  border:  red 1px solid; */
        background-image: url(/public/picture/Main-img/Vector1.png);
    }

    .h3_card {
        margin-left: 1rem;
        color: #ffffff;
        font-weight: 800;
    }

    .P_card {
        margin-left: 1rem;
        color: #ffffff;

    }

    .content-left {
        font-family: 'Poppins', sans-serif;
        width: 7vw;
        height: 40vh;
        /* border: 1px solid red; */
        padding: 100px;
        display: block;
        justify-content: center;
        margin-top: 5%;
        margin-left: 5%;

    }

    .content-right {
        /* border: 1px solid red; */
        width: 60vw;
        height: 140vh;
        margin-top: 5%;
        margin-left: 5%;
    }
}